/* GLOBAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.clear {
    clear: both;
}
body {
    margin: 10px;
    background: #fafafa;
}
/* CARD_BOOK */

.card {
    margin: 10px;
}
.card_title {
    font-size: 1.2rem;
    letter-spacing: 2px;
    position: relative;
}
.card_title::after {
    content: "";
    width: 132px;
    height: 3px;
    position: absolute;
    bottom: -1px;
    left: 0;
    background: linear-gradient(to right, #fbbd61, #ec7532);
}
.card_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    margin-top: 20px;
    
}
.card_item {
    background: #fff;
    padding: 10px;
}
.card_img{
    background: #fafafa;
    
}
 .card_item .card_img img{
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.card_content{
    margin: 10px;
}
.card_logo span{
    color: #B5B9BD;
}

.card_logo span i{
    color: #45ABF7;
}


/* Remove */
.remove{
    padding: 10px;
    background: #fff;
}
.remove_content{
    margin: 5px;
}
#input, #output{
    font-weight: normal;
}